UID=1000
GID=1000
FORGEJO_DB_PASSWORD=Password
FORGEJO_DB_USERNAME=ForgejoDbUsername
FORGEJO_DB_NAME=NameOfDatabaseUsedByForgejo
FORGEJO_VOLUME_PATH=/var/docker/volumes
FORGEJO__server__PROTOCOL=https
FORGEJO__server__HTTP_PORT=3000
POSTGRES_DB_PORT=5432

FORGEJO__server__PROTOCOL="https"
FORGEJO__server__HTTP_PORT="3000"

# -- Port --
# forgejo_runner host port (default: 8080)
FORGEJO_RUNNER_PORT=8080
FORGEJO_RUNNER_NAME="docker-runner"

FORGEJO_URL="FQDN_Of_Forgero_with_Port"
FORGEJO_HOST="FQDN_Of_Forgero_without_Port"
IPADDRESS_HOST="IP_Address_Of_Forgero"
# -- REGISTRATION TOKEN FROM YOUR FORGEJO INSTANCE --
UUID="Runner_UUID defined in Forgero"
FORGEJO_TOKEN="Token_For_The_Runner"