UID=1000
GID=1000
TIMEZONE="Europe/Paris"
APPLICATIONURL="http://<SERVER_FQDN>:3552"
# Those variables are used to mount a network CIFS share that is used to store backups
MNTUSER="User_Allowed_to_access_smb_share"
MNTPWD="*A_R3ally_Hard_Password_t0_Gue55_!"
SMBSRV="Server-name"
SMBSHARE="CIFS_SHARE_NAME"
# You can use OpenSSL in your terminal to generate the secrets
# echo "      - ENCRYPTION_KEY=$(openssl rand -hex 32)"
# echo "      - JWT_SECRET=$(openssl rand -hex 32)"
KEY=""
SECRET=""